{% extends 'main.html' %}
{% block title %}{{ product.name }}{% endblock %}
{% block content %}
    <div class="container py-5">
        <div class="mb-5 bg-light px-2 py-1 rounded d-flex justify-content-between align-items-center">
            <h6 class="fw-light m-0"><i class="fa-solid fa-file-circle-check"></i> View Product</h6>
            <div>
                <a href="{{request.META.HTTP_REFERER}}" class="btn btn-dark btn-sm border-0 shadow-none">Back</a>
            </div>
        </div>

        <div class="row row-cols-1 row-cols-md-2">
            <div class="col">
                <img src="{{ product.cover.url }}" alt="{{ product.name }}" width="100%">
            </div>
            <div class="col">
                <h5>{{ product.name }}</h5>
                <br>
                <h4>Price: {{ product.price }}</h4>
                <br>
                <h6>Contact:</h6>
                <p>Email:  {{ product.email }}</p>
                <p>Phone:  {{ product.phone }}</p>
                <br>
                <h6>Description:</h6>
                <p>{{ product.description }}</p>
            </div>

        </div>
    </div>
    </section>

{% endblock %}