{% extends 'main.html' %}
{% block title %}All Vehicles{% endblock %}
{% load static %}
{% block style %}
    <link rel="stylesheet" href="https://cdn.datatables.net/1.12.1/css/jquery.dataTables.min.css">
{% endblock %}
{% block content %}

    <section class="container py-5">
        <div class="mb-5 bg-light px-2 py-1 rounded d-flex justify-content-between align-items-center">
            <h6 class="fw-light m-0"><i class="fa-solid fa-file-circle-check"></i> All Vehicles</h6>
            <div>
                <a href="{{ request.META.HTTP_REFERER }}" class="btn btn-dark btn-sm border-0 shadow-none">Back</a>
            </div>
        </div>
        <div class="bg-light rounded p-4">
            <div class="d-flex row row-cols-2 row-cols-md-5 g-4">
                {% for vehicle in vehicles %}
                    <div class="col">
                        <div class="bg-white rounded-2 p-2">
                            {% if vehicle.cover %}
                                <img src="{{ vehicle.cover.url }}" alt="{{ vehicle.name }}" width="100%"
                                     class="rounded-2"/>
                            {% else %}
                                <img src="{% static 'images/placeholder.png' %}" alt="{{ vehicle.name }}" width="100%"
                                     class="rounded-2"/>
                            {% endif %}
                            <a href="{% url 'view_vehicle' %}?vehicle_id={{ vehicle.id }}"
                               class="mt-3 text-dark">{{ vehicle.name }}</a>
                            <div class="d-flex justify-content-between align-items-center">
                                <small>{{ vehicle.price }} BDT</small>

                                <div>
                                    {% if vehicle.phone %}
                                        <a href="tel:{{ vehicle.phone }}" class=""><i
                                                class="fa-solid fa-phone text-dark"></i></a>
                                    {% else %}
                                        <small class="btn border-0 btn-sm shadow-none">N/A</small>
                                    {% endif %}
                                    <a class="text-dark btn-sm btn"
                                       href="{% url 'ride_vehicle' vehicle.id %}"
                                    >
                                        <i class="fa-solid fa-bag-shopping"></i>
                                    </a>
                                </div>
                            </div>
                            <small class="mx-auto">{{ vehicle.from_location }} to {{ vehicle.to_location }}</small>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>

    </section>
{% endblock %}
{% block scripts %}
    <script src="https://code.jquery.com/jquery-3.6.0.slim.min.js"
            integrity="sha256-u7e5khyithlIdTpu22PHhENmPcRdFiHRjhAuHcs05RI=" crossorigin="anonymous">
    </script>
    <script src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.min.js">
    </script>

{% endblock %}