{% extends 'main.html' %}
{% block title %}{{ vehicle.name }}{% endblock %}
{% block content %}
    <div class="container py-5">
        <div class="mb-5 bg-light px-2 py-1 rounded d-flex justify-content-between align-items-center">
            <h6 class="fw-light m-0"><i class="fa-solid fa-file-circle-check"></i> View vehicle</h6>
            <div>
                <a href="{{request.META.HTTP_REFERER}}" class="btn btn-dark btn-sm border-0 shadow-none">Back</a>
            </div>
        </div>

        <div class="row row-cols-1 row-cols-md-2">
            <div class="col">
                <img src="{{ vehicle.cover.url }}" alt="{{ vehicle.name }}" width="100%">
            </div>
            <div class="col">
                <h5>{{ vehicle.name }}</h5>
                <br>
                <h6>Location:</h6>
                <a href="{{ vehicle.map_link }}" target="_blank" class="text-dark">{{ vehicle.from_location }} to {{ vehicle.to_location }}</a>

            </div>

        </div>
    </div>
    </section>

{% endblock %}